<div>

  <h3>Products List:</h3>
      <table class="table table-striped">
         <thead>
           <tr>
             <th>Pid</th>
             <th>Pname</th>
             <th>Cost</th>
            
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let join of joins">
              <td>{{join.pid}}</td>
              <td>{{join.pname}}</td>
              <td>{{join.cost}}</td>
           

               
            <ul>

          <td *ngFor = "let title of join.categoriesTitles">
            {{(categories | async)?.title}}
          </td>
       </ul>
        

              
              </tr>


            </tbody>
        </table>
  </div>