<div>
  <h3>Posts list:</h3>
  <ul >
        <li class="list-group-item" *ngFor = "let post of posts" >
             Title: {{post.title}}           
        </li>
       
      
         
        <ul>
      <li *ngFor="let name of post.userNames">
        {{(name | async)?.name}}
      </li>
    </ul>
          
  </ul>
</div>